*{
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

body{
    background-color: rgb(160, 160, 244);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(58, 58, 67);
    border-radius: 30px;
    margin: auto;
}

.logo img{
    width: 100px;
    margin: auto;
    vertical-align: middle;
    color: white;
}

.logo p{
    font-size: 90px;
    color: white;
    text-decoration: none;
    margin: 0;
}

nav{
    flex: 1;
    text-align: right;
}

.container{
    max-width: 1300px;
    margin: 10px auto;
    padding-left: 25px;
    padding-right: 25px;   
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.col-2{
    flex-basis: 350px;
    padding: 20px;
    background-color: rgb(58, 58, 67);
    border-radius: 30px;
    margin-top: 25px;
    color: white;
}

.col-2 img{
    width: 100%;
    align-items: center;
    text-align: center;
    border: white solid;
    margin-bottom: 20px;
}

.row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col-3{
    flex-basis: 500px;
    padding: 20px;
    background-color: rgb(58, 58, 67);
    border-radius: 30px;
    margin-top: 25px;
    color: white;
}

.col-3 p{
    margin-bottom: 30px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(58, 58, 67);
    border-radius: 30px;
    margin: auto;
    color: white;
}

.footer-cgu{
    margin: 0;
}

.footer-contact{
    border-radius: 10px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    text-decoration: none;
    color: white;
}

/* Formulaire */
.form {
    width: 340px;
    height: 440px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(289.2px - 220px) auto;
    padding: 20px 30px;
    max-width: calc(1495px - 40px);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    position: relative;
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: rgb(58, 58, 67);
    border-bottom: 3px solid rgb(58, 58, 67);
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid rgb(58, 58, 67);
}

input:focus {
    border-bottom: 2px solid rgb(58, 58, 67);
}

form.p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: rgb(58, 58, 67);
}

form.button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Roboto", sans-serif;
    border: 2px solid rgb(58, 58, 67);
    background: 0;
    color: rgb(58, 58, 67);
    cursor: pointer;
    transition: all 0.3s;
}

form.button:hover {
    background: rgb(58, 58, 67);
    color: #fff;
}

contact-body{
    display: flex;
    bottom: -15px;
    right: -20px;
    background: rgb(58, 58, 67);
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}
