*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: antiquewhite;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(123, 123, 199);
}

.logo img{
    width: 100px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container{
    max-width: 1300px;
    margin: 10px auto;
    padding-left: 25px;
    padding-right: 25px;   
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.col-2{
    flex-basis: 35%;
    padding: 20px;
    background-color: rgb(123, 123, 199);
    border-radius: 30px;
    margin-top: 25px;
    color: white;
}

.col-2 img{
    width: 100%;
    padding: 70px;
}

.col-2 p{
    text-align: center;
}